@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/BG-MAIN.png), linear-gradient(287.56deg, #30CFD0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Roboto Condensed", sans-serif;
}
body .app {
  width: 71.40625%;
  height: 100vh;
  margin: auto;
}
body .navigation {
  width: 100%;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  height: 35px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(15px, 1.5625vw, 45px);
  margin-top: clamp(40px, 3.125vw, 80px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body a {
  cursor: pointer;
}
body .home {
  text-decoration: underline;
}
body .home:hover, body .about-project:hover, body .about-creator:hover, body .faq:hover, body .support:hover {
  text-decoration: underline;
}
body .user-container {
  display: flex;
  align-items: center;
}
body .user-icon {
  font-size: clamp(7px, 1.40625vw, 37px);
  width: clamp(17px, 1.40625vw, 37px);
  height: clamp(17px, 1.40625vw, 37px);
  margin-right: clamp(7px, 1.09375vw, 31px);
}
body .main {
  width: clamp(480px, 78.4405543399%, 1200px);
  height: 716px;
  margin-top: clamp(10px, 3.6354166667vw, 90px);
}
body .square {
  width: 8.1770833333vw;
  height: 8.1770833333vw;
  border: solid white;
  border-width: clamp(3px, 0.3125vw, 12px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  width: clamp(300px, 57.5833333333vw, 1200px);
  display: flex;
  align-items: center;
}

.ai {
  font-size: clamp(25px, 6.25vw, 130px);
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

.header-text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  margin-left: clamp(21px, 1.6145833333vw, 41px);
  font-size: clamp(19px, 4.1666666667vw, 100px);
  color: #ffffff;
}

.A-letter, .I-letter {
  font-size: clamp(25px, 4.6875vw, 100px);
}

.offer-p {
  width: 71.9465648855%;
  margin-top: 40px;
  color: #ffffff;
  font-size: clamp(18px, 2.0833333333vw, 50px);
  font-weight: 500;
}

.blue-text {
  color: #24CFFF;
  text-decoration: underline;
  transition: 0.2s;
}
.blue-text:hover {
  color: #008bfd;
}

.separator {
  width: clamp(300px, 41.0416666667vw, 900px);
  height: 2px;
  background-color: #ffffff;
  margin-top: clamp(25px, 2.8645833333vw, 70px);
}

.quote-container {
  width: clamp(300px, 40.3541666667vw, 980px);
  color: #ffffff;
  font-style: italic;
  font-size: clamp(20px, 1.8229166667vw, 45px);
  margin-top: clamp(25px, 2.8645833333vw, 70px);
}

.quote-author-container {
  margin-top: clamp(15px, 1.3020833333vw, 35px);
  width: clamp(220px, 19.6875vw, 420px);
  display: flex;
  align-items: center;
  height: 45px;
}

.Claude-Shannon {
  width: clamp(20px, 2.0833333333vw, 50px);
  height: clamp(20px, 2.0833333333vw, 50px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.quote-author {
  width: clamp(160px, 18.8229166667vw, 460px);
  margin-left: clamp(10px, 0.78125vw, 20px);
}

.buttons {
  margin-top: clamp(65px, 3.90625vw, 85px);
  width: clamp(400px, 44.6354166667vw, 957px);
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
  justify-content: space-between;
}

.start-btn {
  width: clamp(202px, 21.0416666667vw, 505px);
  height: clamp(40px, 3.4109375vw, 80px);
  background-color: #00cffd;
  box-shadow: 0px 4px 31px 5px rgba(0, 207, 253, 0.9);
  outline: none;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-weight: 400;
  font-size: clamp(30px, 2.3041666667vw, 70px);
  border: none;
  transition: 0.3s all;
}
.start-btn:hover {
  background-color: #008bfd;
  box-shadow: 0px 4px 31px 5px rgba(0, 118, 253, 0.9);
}

.sign-up {
  width: clamp(202px, 21.0416666667vw, 505px);
  height: clamp(40px, 3.4109375vw, 80px);
  background-color: transparent;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  border: 2px solid white;
  font-weight: 400;
  font-size: clamp(30px, 2.3041666667vw, 70px);
  margin-left: clamp(30px, 2.6041666667vw, 70px);
  color: #ffffff;
  transition: 0.3s all;
}
.sign-up:hover {
  border: none;
  background-color: #00cffd;
  box-shadow: 0px 4px 31px 5px rgba(0, 207, 253, 0.9);
}

.brain-picture {
  position: absolute;
  width: clamp(380px, 34.8958333333vw, 780px);
  height: clamp(370px, 34.5958333333vw, 770px);
  left: 59.4270833333vw;
  top: clamp(220px, 11.9791666667vw, 300px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */