@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

// Variables
$text: #ffffff
$mainBlue: #00cffd
$btnHover: #008bfd
$blueForText: #24CFFF

// fonts

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-image: url(../images/BG-MAIN.png), linear-gradient(287.56deg, #30CFD0 0%, #330867 100%)
    background-repeat: no-repeat
    font-family: 'Roboto Condensed', sans-serif
    .app
        width: 71.40625%
        height: 100vh
        margin: auto

    .navigation
        width: 100%
        height: 35px
        color: $text
        display: flex
        justify-content: space-between
        align-items: center
        font-size: clamp(15px,1.5625vw, 45px)
        margin-top: clamp(40px,3.125vw,80px)
        user-select: none

        a
            cursor: pointer

        .home
            text-decoration: underline

        .home, .about-project, .about-creator, .faq, .support
            &:hover
                text-decoration: underline

    .main
        width: clamp(480px,78.44055433989789%,1200px)
        height: 716px
        margin-top: clamp(10px,4.635416666666667vw, 90px)

    .square
        width: 8.177083333333334vw
        height: 8.177083333333334vw
        border: solid white
        border-width: clamp( 3px,0.3125vw,12px)
        display: flex
        justify-content: center
        align-items: center

.main-header
    width: clamp(300px,57.583333333333336vw,1200px)
    display: flex
    align-items: center
.ai
    font-size: clamp(25px,6.25vw, 130px)
    color: $text
    font-family: 'Roboto Condensed', sans-serif
    font-weight: 600

.header-text
    margin-left: clamp(21px,1.6145833333333333vw,41px)
    font-size: clamp(19px,4.166666666666667vw,100px)
    color: $text

.A-letter, .I-letter
    font-size: clamp(25px,4.6875vw,100px)

.offer-p
    width: 71.94656488549619%
    margin-top: clamp(20px,40px,60px)
    color: $text
    font-size: clamp(18px,2.0833333333333335vw,50px)
    font-weight: 500

.blue-text
    color: $blueForText
    text-decoration: underline
    transition: 0.2s
    &:hover
        color: $btnHover

.separator
    width: clamp(300px,41.041666666666664vw,900px)
    height: 2px
    background-color: $text
    margin-top: clamp(25px,2.8645833333333335vw,70px)

.quote-container
    width: clamp(300px,40.354166666666664vw,980px)
    color: $text
    font-style: italic
    font-size: clamp( 20px,1.8229166666666667vw,45px)
    margin-top: clamp(25px,2.8645833333333335vw,70px)

.quote-author-container
    margin-top: clamp(15px,1.3020833333333333vw,35px)
    width: clamp(220px,19.6875vw, 420px)
    display: flex
    align-items: center
    height: 45px

.Claude-Shannon
    width: clamp(20px,2.0833333333333335vw,50px)
    height: clamp(20px,2.0833333333333335vw, 50px)
    user-select: none

.quote-author
    width: clamp(160px,18.822916666666666vw, 460px)
    margin-left: clamp(10px,0.78125vw,20px)

.buttons
    margin-top: clamp( 65px,3.90625vw,85px)
    width: clamp(400px,44.635416666666664vw,957px)
    display: flex
    font-family: 'Roboto Condensed', sans-serif
    align-items: center
    justify-content: space-between

.start-btn
    width: clamp(202px,21.041666666666668vw, 505px)
    height: 65.49px
    background-color: $mainBlue
    box-shadow: 0px 4px 31px 5px rgba(0, 207, 253, 0.9)
    outline: none
    color: $text
    font-weight: 400
    font-size: clamp(40px,2.3041666666666665vw,70px)
    border: none
    transition: 0.3s all
    &:hover

        background-color: $btnHover
        box-shadow: 0px 4px 31px 5px rgb(0, 118, 253, 0.9)

.sign-up
    width: clamp(202px,21.041666666666668vw, 505px)
    height: 65.49px
    background-color: transparent
    border: 2px solid white
    font-weight: 400
    font-size: clamp(40px,2.3041666666666665vw,70px)
    color: $text

@media screen and (max-width:1024px)
    .main
